* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    color: black;
    text-decoration: none;
}

nav ul {
    /* width: 80%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    min-height: 10vh;
    background: lightblue;
}

.hero {
    min-height: 90vh;
    background-image: url('./img/assorted-color-vehicle-vehicle-on-street-2422588.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.hero h2 {
    text-align: center;
    margin: 2rem;
}

.hero button {
    padding: 1rem 2rem;
    background: rgb(61, 98, 129);
    border: none;
    color: white;
}

.intro {
    display: flex;
    flex-wrap: wrap;
}

.intro img {
    width: 100%;
}

.intro-img {
    flex: 1 1 30rem;
    background: lightblue;
}

.intro-text {
    flex: 1 1 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.intro-text h2 {
    padding: 2rem;
}

.intro-text p {
    padding: 2rem;
}