/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.6rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4,
h5 {
    font-size: 2.8rem;
}

a {
    color: white;
    text-decoration: none;

}

button {
    padding: 2rem 6rem;
    background: #4c6e97;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
    /* animation: cloudAnimation infinite alternate; */
}

button:hover {
    background: #1e2227;
}





/* NAV section with hero  */
.main-head {
    background: #131c27;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 3;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    min-height: 5vh;
    align-items: center;
    flex-wrap: wrap;

}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo {
    flex: 1 1 40rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: normal;
}

.hero {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('./img/landing-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.hero h3 {
    padding: 5rem;
}


/* locations SECITON */
#locations {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('./img/new-york-page.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.locations-head {
    width: 90%;
    margin: auto
}

.locations-head h2 {
    padding: 1rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;

}

.locations-head h3 {
    padding: 4rem 0rem;
    background: linear-gradient(#131c27, #663b34);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.cloud {
    position: absolute;
    top: 0%;
    right: 0%;
    animation: cloudAnimation 3s infinite alternate ease-in-out;

}

.moving-cloud-1 {
    animation: cloudAnimation 4s infinite alternate ease-in-out;
}

.moving-cloud-2 {
    top: 10%;
    z-index: -1;
    opacity: 0.5;
}

@keyframes cloudAnimation {

    /* 0% {
        background: lightblue;
    }

    25% {
        background: rgb(52, 106, 124)
    }

    100% {
        background: rgb(5, 56, 73)
    } */
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(0%, 0%);

    }
}



/* NAV section with Benefit  */
.benefits-head {
    background: rgb(70, 67, 67);
    padding: 3rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.benefits-head h3 {
    padding: 1rem;

}

.cards {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 45vh;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 25rem;
    min-height: 30vh;
    height: 80%;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.1), 0px 20px 20px rgb(0, 0, 0, 0.1);
    text-align: center;

}

.cards img {
    max-width: 15%;
    margin: 2rem;

}

.card h4,
.card p {
    padding: 2rem;
}



.card-icon {
    background: #131c27;
}


/* NAV section with Contact  */
#contact {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('./img/contact-mountain.png');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;

}

.form-wrapper {
    background: rgb(46, 43, 43, 0.8);
    width: 60%;
    color: white;
    border-radius: 20px;
}

.form-head {
    text-align: center;
    padding: 4rem;


}

.name-form,
.email-form {
    padding: 3rem;
    text-align: center;
}

.form-wrapper label {
    margin: 0rem 3rem;
}

.form-wrapper button {
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.form-wrapper input {
    padding: 1rem 3rem;
}


/* Footer */
footer {
    color: white;
    background: #131c27;
}

.footer-wrapper {
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}

footer h5 {

    flex: 1 1 40rem;
}

footer ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 932px) {
    html {
        font-size: 45%;
    }

    nav {
        text-align: center;

    }

    #logo {
        padding: 2rem;
    }

    .cloud {
        height: 40rem;
        pointer-events: none;
    }

    .moving-cloud-1 {
        z-index: -1;

    }

    .moving-cloud-2 {
        top: 10%;
        z-index: -2;
        opacity: 0.5;
    }

    .locations-head h3 {
        background: rgb(17, 16, 16, 0.9);
        /* background-clip: text; */
        -webkit-text-fill-color: white;
        /* -webkit-background-clip: text; */
    }

    .form-wrapper {
        width: 100%;
    }

    footer {
        text-align: center;
    }

    footer h5 {
        padding-bottom: 3rem;
    }

}